<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{layout/user :: content('BookSeat Page', ~{this :: .container})}">

<section class="container">

	<div class="order-container">
		<input id="paymentCode" th:attr="value=${_bill_payment_code}" hidden />
		<input id="status" th:attr="value=${status}" hidden />
		<div class="order" style="margin-top: 50;">
			<img class="order__images" style="position: absolute; left: 350;  " alt=''
				th:src="@{/user/images/tickets.png}">
			<p class="order__title">Thank you <br><span class="order__descript">you have successfully purchased
					tickets</span></p>
		</div>

		



	</div>

	<script th:inline="javascript">
		const showId = JSON.parse(localStorage.getItem("showId"));
		const foods = JSON.parse(localStorage.getItem("foods"));
		const seatIds = JSON.parse(localStorage.getItem("seatIds"));
		const showPrice = JSON.parse(localStorage.getItem("showPrice"));
		const status = $("#status").val();

		function insertBill() {
			const obj = {
					showPrice: showPrice,
					showId: showId,
					foods: foods,
					seatIds: seatIds	
			}
			console.log(obj)
			$.ajax({
                type: "POST",
                url: "api/savethank",
                data: JSON.stringify(obj),
               contentType:'application/json',
                success: function (res) {
                    console.log(res);
                    // Update the UI with the response data
                    $('.ticket__cost').text(res.totalPrice); // Assuming totalPrice is the field in the response
                }, 
                error: function (res) {
                    console.log(res)
                    console.log("Fail");
                }
            });
        }
        insertBill();
	</script>
</section>

</html>